/*
Blocks
========
*/
body .is-layout-constrained > .alignwide {
    max-width: var(--wp--style--global--wide-size);
}
.has-text-align-center {
	text-align: center;
}
/* -- Shop -- */
.site .wc-block-grid__products {
	display: grid;
	gap: 30px;
	margin: 0;
}
.has-1-columns .wc-block-grid__products {
	grid-template-columns: repeat(1, 1fr);
}
.has-2-columns .wc-block-grid__products {
	grid-template-columns: repeat(2, 1fr);
}
.has-3-columns .wc-block-grid__products {
	grid-template-columns: repeat(3, 1fr);
}
.has-4-columns .wc-block-grid__products {
	grid-template-columns: repeat(4, 1fr);
}
.has-5-columns .wc-block-grid__products {
	grid-template-columns: repeat(5, 1fr);
}
.has-6-columns .wc-block-grid__products {
	grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1099px) {
	.has-2-columns .wc-block-grid__products,
	.has-3-columns .wc-block-grid__products,
	.has-4-columns .wc-block-grid__products,
	.has-5-columns .wc-block-grid__products,
	.has-6-columns .wc-block-grid__products {
	   grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 481px) and (max-width: 600px) {
	.site .wc-block-grid.has-1-columns .wc-block-grid__product:nth-child(odd),
	.site .wc-block-grid.has-1-columns .wc-block-grid__product:nth-child(2n),
	.site .wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(odd),
	.site .wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(2n),
	.site .wc-block-grid.has-3-columns .wc-block-grid__product:nth-child(odd),
	.site .wc-block-grid.has-3-columns .wc-block-grid__product:nth-child(2n),
	.site .wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(odd),
	.site .wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(2n),
	.site .wc-block-grid.has-5-columns .wc-block-grid__product:nth-child(odd),
	.site .wc-block-grid.has-5-columns .wc-block-grid__product:nth-child(2n),
	.site .wc-block-grid.has-6-columns .wc-block-grid__product:nth-child(odd),
	.site .wc-block-grid.has-6-columns .wc-block-grid__product:nth-child(2n) {
	    padding-left: 0;
	    padding-right: 0;
	}
	.wc-block-grid.has-1-columns .wc-block-grid__product,
	.wc-block-grid.has-2-columns .wc-block-grid__product,
	.wc-block-grid.has-3-columns .wc-block-grid__product,
	.wc-block-grid.has-4-columns .wc-block-grid__product,
	.wc-block-grid.has-5-columns .wc-block-grid__product,
	.wc-block-grid.has-6-columns .wc-block-grid__product {
		padding-bottom: 40px;
		margin: 0;
	}
}
.site .wc-block-grid.has-1-columns .wc-block-grid__product,
.site .wc-block-grid.has-2-columns .wc-block-grid__product,
.site .wc-block-grid.has-3-columns .wc-block-grid__product,
.site .wc-block-grid.has-4-columns .wc-block-grid__product,
.site .wc-block-grid.has-5-columns .wc-block-grid__product,
.site .wc-block-grid.has-6-columns .wc-block-grid__product {
	flex: 100%;
    max-width: 100%;
}
.site .wc-block-grid__product {
	position: relative;
	display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    border: none;
    padding-bottom: 50px;
    transition: all 0.2s;
}
@media (min-width: 993px) {
	.wc-block-grid__product:before {
	    visibility: hidden;
	    position: absolute;
	    left: 0;
	    opacity: 0;
	    background-color: #fff;
	    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	    content: "";
	    transition: all .2s;
	    width: calc(100% + 30px);
	    height: calc(100% + 30px);
	    margin-top: -15px;
	    margin-left: -15px;
	}
	.wc-block-grid__product:hover:before {
	    visibility: visible;
	    opacity: 1;
	    transition: all .2s;
	}
	.wc-block-grid__product * {
		position: relative;
	}	
	.wc-block-grid__product .wc-block-grid__product-image {
		position: relative;
	    transition: all 0.2s ease-in-out;
	}
	.wc-block-grid__product:hover .wc-block-grid__product-image {
	    transform: scale(0.982);
	}
}
.site .wc-block-grid .wc-block-grid__product .wc-block-grid__product-add-to-cart,
.site .wc-block-grid .wc-block-grid__product .wc-block-grid__product-onsale,
.site .wc-block-grid .wc-block-grid__product .wc-block-grid__product-price,
.site .wc-block-grid .wc-block-grid__product .wc-block-grid__product-rating {
	margin: 0;
}
.wc-block-grid__products .wc-block-grid__product-image img {
	width: 100%;
}
.wc-block-grid__product-link {
	color: #2c2d33;
}
.site .wc-block-grid__product .wc-block-grid__product-title {
	font-size: 15px;
	letter-spacing: 0;
	margin-bottom: 4px;
}
.wc-block-grid .wc-block-grid__product .wc-block-grid__product-price {
	color: #43454b;
	font-size: 14px;
	margin-bottom: 0.75em;
	order: 2;
	margin-bottom: 0;
}
.wc-block-grid__product .wc-block-grid__product-onsale {
	position: absolute;
	top: 10px;
    left: 10px;
    min-width: inherit;
    min-height: inherit;
    font-size: 11px;
    font-weight: normal;
    border-radius: 3px;
    padding: 3px 9px;
    opacity: 0.8;
    line-height: 15px;
    border: none;
    text-transform: none;
    pointer-events: none;
}
.wc-block-grid__product .wc-block-grid__product-rating {
	order: 1;
	margin: 0;
	margin-bottom: 4px;
}
.wc-block-grid__product .star-rating {
    height: 1.118em;
    position: relative;
    width: 5.6em;
    margin: 0 0 2px 0;
    font-size: 12px;
}
.wc-block-grid__product-add-to-cart {
	order: 3;
}
.wc-block-grid__product-add-to-cart.wp-block-button {
	position: absolute;
	z-index: 1;
	bottom: 0;
	opacity: 0;
	width: 100%;
}
.wc-block-grid__product-add-to-cart.wp-block-button a.wp-block-button__link,
.wc-block-grid__product-add-to-cart.wp-block-button .wc-block-components-product-button__button {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	transition: all 0.1s;
}
.wc-block-grid__product:hover .wc-block-grid__product-add-to-cart.wp-block-button {
	opacity: 1;
}
hr.wp-block-separator {
	height: inherit;
	border-bottom: none;
}
.wp-block-cover p {
	margin: 0;
}
.wp-block-cover img {
	display: block;
}
.wp-block-columns p a,
.wp-block-columns p a:hover {
	text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.16em;
}
.content-area hr.wp-block-separator {
	height: 1px;
}
.woocommerce-tabs .wp-block-image {
	margin: 0 0 1.5em;
}
.woocommerce-tabs .wp-block-image.aligncenter {
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 992px) {
	.woocommerce-tabs .wp-block-image {
		margin-bottom: 1rem;
	}
}
.wp-block-pullquote {
  padding: 0;
  text-align: left;
}
@media (max-width: 992px) {
	.wc-block-grid__products {
		gap: 20px;
	}
	.site .wc-block-grid__product.wc-block-grid__product {
		padding-bottom: 55px;
		box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	}
	.wc-block-grid__product-add-to-cart.wp-block-button {
		opacity: 1;
	}
	.wc-block-grid__product .wc-block-grid__product-title,
	.wc-block-grid .wc-block-grid__product .wc-block-grid__product-price,
	.wc-block-grid__product .wc-block-grid__product-rating,
	.wc-block-grid__product-add-to-cart.wp-block-button {
		padding-left: 15px;
		padding-right: 15px;
	}
	.wc-block-grid .wc-block-grid__product .wc-block-grid__product-add-to-cart {
		margin-bottom: 15px;
	}
}
@media (min-width: 993px) {
	.page-template-template-fullwidth .site-main .alignwide,
	.page-template-template-fullwidth-no-heading .site-main .alignwide {
	    margin-left: calc(25% - 25vw);
	    margin-right: calc(25% - 25vw);
	    width: auto;
    	max-width: 1000%;
    	clear: both;
	}
	.page-template-template-fullwidth .site-main .alignfull,
	.page-template-template-fullwidth-no-heading .site-main .alignfull {
    	margin-left: calc(50% - 50vw);
    	margin-right: calc(50% - 50vw);
    	width: auto;
	}
}
/* -- Notice -- */
.woocommerce:has(.wc-block-components-notice-banner) {
	padding-bottom: 30px;
}
.wc-block-components-notice-banner__content .buttons-wrapper {
	margin-top: 10px;
}
/* -- Cart and Checkout -- */
.is-large.wc-block-cart,
.wp-block-woocommerce-checkout.wc-block-checkout {
	margin-top: 2em;
}
.is-large.wc-block-cart .wc-block-cart-items td.wc-block-cart-item__total:last-child {
    padding-right: 0;
}
.is-large.wc-block-cart .wc-block-cart-items td.wc-block-cart-item__image {
	padding-left: 0;
}
.wp-element-button.wc-block-components-button.wc-block-cart__submit-button,
.wp-element-button.wc-block-components-button.wc-block-components-checkout-place-order-button {
	border-radius: 6px;
	font-weight: bold;
	transition: background 0.2s ease;
}
.wc-block-components-notice-banner .message-inner {
	padding: 5px;
}
.wc-block-components-notice-banner .buttons-wrapper {
	margin-top: 10px;
}
@media (min-width: 993px) {
    .site .wc-block-components-notice-banner {
        margin-right: auto;
        margin-left: auto;
    }
    .single-product .site .wc-block-components-notice-banner { 
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 992px) {
	.wc-block-components-notice-banner {
	        padding-right: 1em;
	        padding-left: 1em;
	}
}
/* Reviews */
.wc-block-all-reviews {
	margin-bottom: 3rem;
}
.wc-block-sort-select, .wc-block-load-more {
	font-size: 14px;
}
.wc-block-sort-select__label {
	margin-right: 0.5rem;
}
select.wc-block-sort-select__select {
	width: auto;
	font-size: 14px;
}
.wc-block-review-list-item__author, .wc-block-review-list-item__published-date {
	font-size: 14px;
}